###### The current process is to copy the sas data set to jupyter folder to process, 

* to prevent from using the file while the file is being written
* need to process to copy the file directly from project folder to juypter folder

In [1]:
# import libraries
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 100)
import datetime

In [2]:
# read the SAS file
df = pd.read_csv('patpop_ps.csv')

In [3]:
# create/manipulate features
def age_group(age):
    # create age group
    if age >= 18 and age <= 54:
        return '18-54'
    elif age >= 55 and age <= 64:
        return '55-64'
    elif age >= 65 and age <= 74:
        return '65-74'
    else:
        return '75+'

def sex(x):
    # relabel sex
    if x == 1:
        return 'male'
    elif x == 2:
        return 'female'
    else:
        return 'missing'

def indicator(x):
    # relabel indicator
    if x == 0:
        return 'No'
    elif x == 1:
        return 'Yes'
    else:
        return 'Missing'

In [4]:
# apply feature transformation
df['age_group'] = df['age'].apply(lambda x: age_group(x))
df['sex_name'] = df['sex'].apply(lambda x: sex(x))
#df['c_year'] = df['index_dt'].apply(lambda x: x.to_pydatetime().year)
df['c_year'] = df['index_dt'].astype(str).str[:4]

In [5]:
# create tables for categorical variables
def cross(ind, col):
    # create contigency table for categorical features
    return pd.crosstab(index=ind, columns=df[col])

def char_std(d, ind):
    # create std for categorical features
    p1 = d.iloc[0,0]/cohort_tab.iloc[0,0]
    p2 = d.iloc[0,1]/cohort_tab.iloc[0,1]
    _std_data = {'std': np.absolute(p1 - p2)/np.sqrt((p1*(1-p1) + p2*(1-p2))/2)}
    return d.join(pd.DataFrame(_std_data, index=[ind]))

In [34]:
def numeric_tab(var, item, miss_trigger):
    # generate tables for numeric features
    _mea = item.mean().round(2).to_frame().rename(columns={var:var+'_mean'}).transpose()
    _s = item.std().round(2).to_frame().rename(columns={var:var+'_std'}).transpose()
    _med = item.median().round(2).to_frame().rename(columns={var:var+'_median'}).transpose()
    _q25 = item.quantile(0.25,interpolation='midpoint').round(2).to_frame()
    _q75 = item.quantile(0.75,interpolation='midpoint').round(2).to_frame()
    _min = item.min().round(2).to_frame()
    _max = item.max().round(2).to_frame()
    _nul = item.apply(lambda x: x.isnull().sum()).to_frame().rename(columns={var:var+'_missing'}).transpose()
    

    _q = _q25.rename(columns={var:var+'_Q1'}).join(_q75.rename(columns={var: var+'_Q3'}))
    _q[var+'_Q1_Q3'] = _q[var+'_Q1'].map(str) + '; ' + _q[var+'_Q3'].map(str)
    _q = _q.drop([var+'_Q1', var+'_Q3'], axis=1).transpose()

    _m = _min.rename(columns={var:var+'_min'}).join(_max.rename(columns={var: var+'_max'}))
    _m[var+'_min_max'] = _m[var+'_min'].map(str) + '; ' + _m[var+'_max'].map(str)
    _m = _m.drop([var+'_min', var+'_max'], axis=1).transpose()

    _std_data = {'std': np.absolute(_mea.iloc[0,0] - _mea.iloc[0,1])/np.sqrt((np.square(_s.iloc[0,0]) + np.square(_s.iloc[0,1]))/2)}
    _std = pd.DataFrame(_std_data, index=[var+'_mean'])
    
    if miss_trigger == 1:
        _df = pd.concat([_mea, _s, _med, _q, _m, _nul])
    else:
        _df = pd.concat([_mea, _s, _med, _q, _m])
    
    return _df.join(_std.round(3)).fillna('NA')

In [9]:
alcohol_tab = char_std(cross(df['Alcohol_abuse'].apply(lambda x:indicator(x)), 'cohort').iloc[::-1], 'Yes')

add = pd.DataFrame({1.0:[0], 2.0:[0], 'std':[0]}, index=['Missing'])

alcohol_tab.append(add)
pd.concat([alcohol_tab, add])

            1     2  std
Yes         7     7  0.0
No       5632  5632  NaN
Missing     0     0  0.0

In [35]:
dummy_df = pd.DataFrame({1.0:[0, 0, 0], 2.0:[0, 0, 0], 'std':[0, 0, 0]}, index=['Yes', 'No', 'Missing'])
new_index = pd.DataFrame({'new_index':['_Yes', '_No', '_Missing']}, index=['Yes', 'No', 'Missing'])
dummy_df.update(alcohol_tab)
dummy_df=dummy_df.join(new_index)
dummy_df=dummy_df.reset_index(drop=True)

dummy_df
test = numeric_tab('BNP_res', df.groupby(['cohort']).BNP_res, 1)
test

                             1             2    std
BNP_res_mean            182.69        234.39  0.148
BNP_res_std             288.07        399.44     NA
BNP_res_median            54.1         55.65     NA
BNP_res_Q1_Q3    15.18; 204.95  17.75; 250.3     NA
BNP_res_min_max    4.1; 1770.5   3.8; 2073.6     NA
BNP_res_missing           5497          5535     NA

In [28]:
# 
# from SAS variable excel to create generation statement
# this sheet may require multiple changes before it can be processed the rules are as follows
# 1.Record a MACRO for what I'm going to do
# 2.Match each tab with corresponding output tables, create new tab if anything's not in the output table like other drugs
# 3.Make sure all the variables names are filled in order to output NA correctly
# 4.Make sure the output sequence matches
#
sas_lifestyle = pd.read_excel('NBI covariates name 1 .xlsx', sheet_name='life_style') # not use this at this moment
sas_Diabetes_complications = pd.read_excel('NBI covariates name 1 .xlsx', sheet_name='Diabetes complications')
sas_other_comorbidity = pd.read_excel('NBI covariates name 1 .xlsx', sheet_name='other_comorbidity')
sas_other_drugs = pd.read_excel('NBI covariates name 1 .xlsx', sheet_name='other_drugs')
sas_laboratory = pd.read_excel('NBI covariates name 1 .xlsx', sheet_name='laboratory')
sas_Prior_concomitant = pd.read_excel('NBI covariates name 1 .xlsx', sheet_name='Prior concomitant')
sas_resource_utilization = pd.read_excel('NBI covariates name 1 .xlsx', sheet_name='resource_utilization')
sas_cost = pd.read_excel('NBI covariates name 1 .xlsx', sheet_name='cost')

In [22]:
# generate data frames for categorical features

# prepare excel writer
writer = pd.ExcelWriter('results.xlsx', engine='xlsxwriter')

cohort_tab = cross('number of patients', 'cohort')
age_all = numeric_tab('age', df.groupby(['cohort']).age, 0)
age_tab = cross(df['age_group'], 'cohort')
sex_tab = char_std(cross(df['sex_name'], 'cohort'), 'female')
race_dummy = pd.DataFrame({1.0:['NA', 'NA', 'NA', 'NA'], 2.0:['NA', 'NA', 'NA', 'NA'], 'std':['NA', 'NA', 'NA', 'NA']}, index=['race_Category_1', 'race_Category_2', 'race_Category_3', 'race_Missing'])
soc_dummy = pd.DataFrame({1.0:['NA', 'NA', 'NA', 'NA'], 2.0:['NA', 'NA', 'NA', 'NA'], 'std':['NA', 'NA', 'NA', 'NA']}, index=['soc_Low', 'soc_Intermediate', 'soc_High', 'soc_Missing'])
year_dummy = pd.DataFrame({1.0:[0, 0, 0], 2.0:[0, 0, 0], 'std':[0, 'NA', 'NA']}, index=['2012', '2013', '2014'])
year_tab = cross(df['c_year'], 'cohort')
base_tab = pd.concat([cohort_tab, age_all, age_tab, sex_tab, race_dummy, soc_dummy, year_dummy, year_tab])
base_tab = base_tab.replace(np.nan, 'NA', regex=True)
base_tab.to_excel(writer, sheet_name='baseline')


lifestyle=[]
for value, y in zip(sas_lifestyle['Variable_name'], sas_lifestyle['Type']):
    if value in df.columns and y == 'C':
        value_tab = char_std(cross(df[value].apply(lambda x:indicator(x)), 'cohort').iloc[::-1], 'Yes')
        dummy_df = pd.DataFrame({1.0:[0, 0, 0], 2.0:[0, 0, 0], 'std':[0, 'NA', 'NA']}, index=['Yes', 'No', 'Missing'])
        if ('Yes' or 'No' in value_tab.index.values.tolist()):
            dummy_df.update(value_tab)
            dummy_df.index.name = value
            new_index = pd.DataFrame({'new_index':[value+'_Yes', value+'_No', value+'_Missing']}, index=['Yes', 'No', 'Missing'])
            dummy_df = dummy_df.join(new_index)                        
            dummy_df = dummy_df.reset_index(drop=True)
            dummy_df = dummy_df.set_index('new_index')
            lifestyle.append(dummy_df)
        else:
            value_tab = pd.DataFrame({1.0:[0, 0, 0], 2.0:[0, 0, 0], 'std':[0, 'NA', 'NA']}, index=[value+'_Yes', value+'_No', value+'_Missing'])
            value_tab.index.name = value
            lifestyle.append(value_tab)    
    elif value in df.columns and y == 'N':
        df_g = df.groupby(['cohort'])
        value_tab = numeric_tab(value, df_g[value], 1)
        lifestyle.append(value_tab)
    elif value not in df.columns and y == 'C':
        value_tab = pd.DataFrame({1.0:['NA', 'NA', 'NA'], 2.0:['NA', 'NA', 'NA'], 'std':['NA', 'NA', 'NA']}, index=[value+'_Yes', value+'_No', value+'_Missing'])
        value_tab.index.name = value
        lifestyle.append(value_tab)
    elif value not in df.columns and y == 'N':
        value_tab = pd.DataFrame({1.0:['NA', 'NA', 'NA', 'NA', 'NA', 'NA'], 
                                  2.0:['NA', 'NA', 'NA', 'NA', 'NA', 'NA'], 
                                  'std':['NA', 'NA', 'NA', 'NA', 'NA', 'NA']}, 
                                  index=[value+'_mean', value+'_std', value+'_median', value+'_Q1_Q3', value+'_min_max', value+'_missing'])
        value_tab.index.name = value    
        lifestyle.append(value_tab)
        
lifestyle = pd.concat(lifestyle)
lifestyle.to_excel(writer, sheet_name='lifestyle')


Diabetes_complications=[]
for value in sas_Diabetes_complications['Variable_name']:
    if value in df.columns:
        value_tab = char_std(cross(df[value].apply(lambda x:indicator(x)), 'cohort').iloc[::-1], 'Yes')
        dummy_df = pd.DataFrame({1.0:[0], 2.0:[0], 'std':[0]}, index=['Yes'])
        if ('Yes' in value_tab.index.values.tolist()):
            value_tab = value_tab.loc[['Yes']]
            dummy_df.update(value_tab)
            dummy_df.index.name = value
            new_index = pd.DataFrame({'new_index':[value+'_Yes']}, index=['Yes'])
            dummy_df = dummy_df.join(new_index)                        
            dummy_df = dummy_df.reset_index(drop=True)
            dummy_df = dummy_df.set_index('new_index')
            Diabetes_complications.append(dummy_df)
        else:
            value_tab = pd.DataFrame({1.0:[0], 2.0:[0], 'std':[0]}, index=[value+'Yes'])
            value_tab.index.name = value
            Diabetes_complications.append(value_tab)
    else:
        value_tab = pd.DataFrame({1.0:['NA'], 2.0:['NA'], 'std':['NA']}, index=[value+'Yes'])
        value_tab.index.name = value    
        Diabetes_complications.append(value_tab)    

Diabetes_complications = pd.concat(Diabetes_complications)
Diabetes_complications.to_excel(writer, sheet_name='Diabetes_complications')

other_comorbidity=[]
for value in sas_other_comorbidity['Variable_name']:
    if value in df.columns:
        value_tab = char_std(cross(df[value].apply(lambda x:indicator(x)), 'cohort').iloc[::-1], 'Yes')
        dummy_df = pd.DataFrame({1.0:[0], 2.0:[0], 'std':[0]}, index=['Yes'])
        if ('Yes' in value_tab.index.values.tolist()):
            value_tab = value_tab.loc[['Yes']]
            dummy_df.update(value_tab)
            dummy_df.index.name = value
            new_index = pd.DataFrame({'new_index':[value+'_Yes']}, index=['Yes'])
            dummy_df = dummy_df.join(new_index)                        
            dummy_df = dummy_df.reset_index(drop=True)
            dummy_df = dummy_df.set_index('new_index')
            other_comorbidity.append(dummy_df) 
        else:
            value_tab = pd.DataFrame({1.0:[0], 2.0:[0], 'std':[0]}, index=[value+'Yes'])
            value_tab.index.name = value
            other_comorbidity.append(value_tab) 
    else:
        value_tab = pd.DataFrame({1.0:['NA'], 2.0:['NA'], 'std':['NA']}, index=[value+'Yes'])
        value_tab.index.name = value
        other_comorbidity.append(value_tab)   

other_comorbidity = pd.concat(other_comorbidity)
other_comorbidity.to_excel(writer, sheet_name='other_comorbidity')


laboratory=[]
for value in sas_laboratory['Variable_name_res']:
    if value in df.columns:
        df_g = df.groupby(['cohort'])
        value_tab = numeric_tab(value, df_g[value], 1)
        laboratory.append(value_tab)  
    else:
        value_tab = pd.DataFrame({1.0:['NA', 'NA', 'NA', 'NA', 'NA', 'NA'], 
                                  2.0:['NA', 'NA', 'NA', 'NA', 'NA', 'NA'], 
                                  'std':['NA', 'NA', 'NA', 'NA', 'NA', 'NA']}, 
                                  index=[value+'_mean', value+'_std', value+'_median', value+'_Q1_Q3', value+'_min_max', value+'_missing'])
        value_tab.index.name = value    
        laboratory.append(value_tab)    

laboratory = pd.concat(laboratory)
laboratory.to_excel(writer, sheet_name='laboratory')


other_drugs=[]
for value in sas_other_drugs['Variable_name']:
    if value in df.columns:
        value_tab = char_std(cross(df[value].apply(lambda x:indicator(x)), 'cohort').iloc[::-1], 'Yes')
        dummy_df = pd.DataFrame({1.0:[0], 2.0:[0], 'std':[0]}, index=['Yes'])
        if ('Yes' in value_tab.index.values.tolist()):
            value_tab = value_tab.loc[['Yes']]
            dummy_df.update(value_tab)
            dummy_df.index.name = value
            new_index = pd.DataFrame({'new_index':[value+'_Yes']}, index=['Yes'])
            dummy_df = dummy_df.join(new_index)                        
            dummy_df = dummy_df.reset_index(drop=True)
            dummy_df = dummy_df.set_index('new_index')
            other_drugs.append(dummy_df)  
        else:
            value_tab = pd.DataFrame({1.0:[0], 2.0:[0], 'std':[0]}, index=[value+'_Yes'])
            value_tab.index.name = value
            other_drugs.append(value_tab)  

    else:
        value_tab = pd.DataFrame({1.0:['NA'], 2.0:['NA'], 'std':['NA']}, index=[value+'_Yes'])
        value_tab.index.name = value
        other_drugs.append(value_tab)  

other_drugs = pd.concat(other_drugs)
other_drugs.to_excel(writer, sheet_name='other_drugs')


Prior_concomitant=[]
for value, y in zip(sas_Prior_concomitant['variable_name'], sas_Prior_concomitant['Type']):
    if value in df.columns and y == 'C':
        value_tab = char_std(cross(df[value].apply(lambda x:indicator(x)), 'cohort').iloc[::-1], 'Yes')
        dummy_df = pd.DataFrame({1.0:[0], 2.0:[0], 'std':[0]}, index=['Yes'])
        if ('Yes' in value_tab.index.values.tolist()):
            value_tab = value_tab.loc[['Yes']]
            dummy_df.update(value_tab)
            dummy_df.index.name = value
            new_index = pd.DataFrame({'new_index':[value+'_Yes']}, index=['Yes'])
            dummy_df = dummy_df.join(new_index)                        
            dummy_df = dummy_df.reset_index(drop=True)
            dummy_df = dummy_df.set_index('new_index')
            Prior_concomitant.append(dummy_df)
        else:
            value_tab = pd.DataFrame({1.0:[0], 2.0:[0], 'std':[0]}, index=[value+'_Yes'])
            value_tab.index.name = value
            Prior_concomitant.append(value_tab)
    elif value in df.columns and y == 'N':
        df_g = df.groupby(['cohort'])
        value_tab = numeric_tab(value, df_g[value], 0)
        Prior_concomitant.append(value_tab)
    elif value not in df.columns and y == 'C':
        value_tab = pd.DataFrame({1.0:['NA'], 2.0:['NA'], 'std':['NA']}, index=[value+'_Yes'])
        value_tab.index.name = value
        Prior_concomitant.append(value_tab)
    elif value not in df.columns and y == 'N':
        value_tab = pd.DataFrame({1.0:['NA', 'NA', 'NA', 'NA', 'NA', 'NA'], 
                                  2.0:['NA', 'NA', 'NA', 'NA', 'NA', 'NA'], 
                                  'std':['NA', 'NA', 'NA', 'NA', 'NA', 'NA']}, 
                                  index=['_mean', '_std', '_median', '_Q1_Q3', '_min_max', '_missing'])
        value_tab.index.name = value    
        Prior_concomitant.append(value_tab)  

Prior_concomitant = pd.concat(Prior_concomitant)
Prior_concomitant.to_excel(writer, sheet_name='Prior_concomitant')


resource_utilization=[]
for value, y in zip(sas_resource_utilization['variable_name'], sas_resource_utilization['Type']):
    if value in df.columns and y == 'C':
        value_tab = char_std(cross(df[value].apply(lambda x:indicator(x)), 'cohort').iloc[::-1], 'Yes')
        dummy_df = pd.DataFrame({1.0:[0, 0, 0], 2.0:[0, 0, 0], 'std':[0, 'NA', 'NA']}, index=['Yes', 'No', 'Missing'])
        if ('Yes' or 'No' in value_tab.index.values.tolist()):
            dummy_df.update(value_tab)
            dummy_df.index.name = value
            new_index = pd.DataFrame({'new_index':[value+'_Yes', value+'_No', value+'_Missing']}, index=['Yes', 'No', 'Missing'])
            dummy_df = dummy_df.join(new_index)                        
            dummy_df = dummy_df.reset_index(drop=True)
            dummy_df = dummy_df.set_index('new_index')
            resource_utilization.append(dummy_df)
        else:
            value_tab = pd.DataFrame({1.0:[0, 0, 0], 2.0:[0, 0, 0], 'std':[0, 0, 0]}, index=[value+'_Yes', value+'_No', value+'_Missing'])
            value_tab.index.name = value
            resource_utilization.append(value_tab)    
    elif value in df.columns and y == 'N':
        df_g = df.groupby(['cohort'])
        value_tab = numeric_tab(value, df_g[value], 1)
        resource_utilization.append(value_tab)
    elif value not in df.columns and y == 'C':
        value_tab = pd.DataFrame({1.0:['NA', 'NA', 'NA'], 2.0:['NA', 'NA', 'NA'], 'std':['NA', 'NA', 'NA']}, index=[value+'_Yes', value+'_No', value+'_Missing'])
        value_tab.index.name = value
        resource_utilization.append(value_tab)
    elif value not in df.columns and y == 'N':
        value_tab = pd.DataFrame({1.0:['NA', 'NA', 'NA', 'NA', 'NA', 'NA'], 
                                  2.0:['NA', 'NA', 'NA', 'NA', 'NA', 'NA'], 
                                  'std':['NA', 'NA', 'NA', 'NA', 'NA', 'NA']}, 
                                  index=[value+'_mean', value+'_std', value+'_median', value+'_Q1_Q3', value+'_min_max', value+'_missing'])
        value_tab.index.name = value    
        resource_utilization.append(value_tab)
        
resource_utilization = pd.concat(resource_utilization)
resource_utilization.to_excel(writer, sheet_name='resource_utilization')


cost=[]
for value in sas_cost['variable_name']:
    if value in df.columns:
        df_g = df.groupby(['cohort'])
        value_tab = numeric_tab(value, df_g[value], 1)
        cost.append(value_tab)  
    else:
        value_tab = pd.DataFrame({1.0:['NA', 'NA', 'NA', 'NA', 'NA', 'NA'], 
                                  2.0:['NA', 'NA', 'NA', 'NA', 'NA', 'NA'], 
                                  'std':['NA', 'NA', 'NA', 'NA', 'NA', 'NA']}, 
                                  index=[value+'_mean', value+'_std', value+'_median', value+'_Q1_Q3', value+'_min_max', value+'_missing'])
        value_tab.index.name = value    
        cost.append(value_tab)    

cost = pd.concat(cost)
cost.to_excel(writer, sheet_name='cost')


writer.save()

C:\Users\guzhao\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:10: RuntimeWarning: invalid value encountered in double_scalars
  # Remove the CWD from sys.path while we load stuff.

In [36]:
test = np.array([1.25, 2.35, 0, 4.35, 5.35])
print(type(test))
print(np.quantile(test, 0.25))

<class 'numpy.ndarray'>
1.25

In [239]:
def numeric_tab():
    return df.groupby(['cohort']).age.isnull().sum().to_frame().rename(columns={'age': 'age_mean'}).transpose()

In [240]:
test = numeric_tab()
test

AttributeError: Cannot access callable attribute 'isnull' of 'SeriesGroupBy' objects, try using the 'apply' method

In [247]:
df.groupby(['cohort']).HbA1c_res.apply(lambda x: x.isnull().sum()).to_frame().rename(columns={'HbA1c_res':'HbA1c_res_missing'}).transpose()

cohort              1.0   2.0
HbA1c_res_missing  5050  5171