###### The current process is to copy the sas data set to jupyter folder to process, 

* to prevent from using the file while the file is being written
* need to process to copy the file directly from project folder to juypter folder

In [14]:
# import libraries
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 100)
import datetime

In [2]:
df = pd.read_sas('patpop_ps.sas7bdat')

In [8]:
df.dtypes

patientid                               float64
sex                                     float64
age                                     float64
index_dt                         datetime64[ns]
cohort                                  float64
Obesity_dx                              float64
Overweight                              float64
Smoking                                 float64
Alcohol_abuse                           float64
Drug_abuse                              float64
Obesity_rx                              float64
BMI                                     float64
Obesity                                 float64
Diabetic_retinopathy                    float64
Diabetes_WOOM                           float64
RD_VH_vitrectomy                        float64
Diabetic_neuropathy                     float64
Diabetic_nephropathy                    float64
Hypoglycemia_p1                         float64
Hyperglycemia                           float64
Disorders_FE_ADD                        float64
Diabetic_ketoacidosis                   float64
HONK                                    float64
Diabetes_PCD                            float64
Diabetic_foot                           float64
Gangrene                                float64
Lower_extremity_amputation_dx           float64
Osteomyelitis                           float64
Skin_infections                         float64
Erectile_dysfunction                    float64
                                      ...
ip_visit_num                            float64
ip_cost                                 float64
ip_CV_cost                              float64
ip_no_CV_cost                           float64
hosp_days                               float64
Cardiologist_flag                       float64
IM_FM_flag                              float64
Electrocardio_flag                      float64
Endocrino_flag                          float64
ER_flag                                 float64
Cardiologist_num                        float64
IM_FM_num                               float64
Electrocardio_num                       float64
Endocrino_num                           float64
ER_num                                  float64
op_num                                  float64
op_cost                                 float64
op_CV_cost                              float64
op_non_CV_cost                          float64
rx_cost                                 float64
rx_dm_cost                              float64
rx_non_dm_cost                          float64
index_year                              float64
PAST_other_dm_flag                      float64
total_pre_cost                          float64
drug_cohort                              object
pt_case                                 float64
_LEVEL_                                 float64
pscore                                  float64
pair_id                                 float64
Length: 199, dtype: object

In [27]:
# create age group
def age_group(age):
    if age >= 18 and age <= 54:
        return '18-54'
    elif age >= 55 and age <= 64:
        return '55-64'
    elif age >= 65 and age <= 74:
        return '65-74'
    else:
        return '75+'

def cohort(x):
    if x == 1:
        return 'empa'
    if x == 2:
        return 'DPP4'

df['age_group'] = df['age'].apply(lambda x: age_group(x))
df['cohort_name'] = df['cohort'].apply(lambda x: cohort(x))

In [28]:
# create contigency tables
age_tab = pd.crosstab(index=df['age_group'], columns=df['cohort_name'])
age_tab

cohort_name  DPP4  empa
age_group
18-54        2113  2085
55-64        1259  1342
65-74        1493  1460
75+           774   752

In [92]:
df['age'] = df.age.astype(int)
age_mea = df.groupby(['cohort']).age.mean().round(2).to_frame().rename(columns={'age':'mean'}).transpose()
age_s = df.groupby(['cohort']).age.std().round(2).to_frame().rename(columns={'age':'std'}).transpose()
age_med = df.groupby(['cohort']).age.median().round(2).to_frame().rename(columns={'age':'median'}).transpose()
age_q25 = df.groupby(['cohort']).age.quantile(q=0.25).round(2).to_frame()
age_q75 = df.groupby(['cohort']).age.quantile(q=0.75).round(2).to_frame()
age_min = df.groupby(['cohort']).age.min().round(2).to_frame()
age_max = df.groupby(['cohort']).age.max().round(2).to_frame()

age_q = age_q25.rename(columns={'age':'Q1'}).join(age_q75.rename(columns={'age': 'Q3'}))
age_q['Q1_Q3'] = age_q['Q1'].map(str) + ', ' + age_q['Q3'].map(str)
age_q = age_q.drop(['Q1', 'Q3'], axis=1).transpose()

age_m = age_min.rename(columns={'age':'min'}).join(age_max.rename(columns={'age': 'max'}))
age_m['min_max'] = age_m['min'].map(str) + ', ' + age_m['max'].map(str)
age_m = age_m.drop(['min', 'max'], axis=1).transpose()


age_df = pd.concat([age_mea, age_s, age_med, age_q, age_m])
age_df

cohort          1.0         2.0
mean          59.17       59.12
std           13.83       14.12
median           60          60
Q1_Q3    49.0, 69.0  49.0, 69.0
min_max      18, 90      18, 90